.submission-export-icon {
    text-align: center;
}

.submission-export-icon img {
    margin: 0 0.25rem;
    cursor: pointer;
}

.submission-reminder-icon {
    filter: grayscale(1);
    transition: 0.3s all;
    text-align: center;
    cursor: pointer;
}

.submission-reminder-icon:hover {
    filter: grayscale(0) brightness(1.25) !important;
}

.submission-reminder-icon.submission-reminder-icon--loading {
    opacity: 0.5;
}

.submission-reminder-icon.submission-reminder-icon--active {
    filter: grayscale(0);
}

.timetable-indicator {
    position: absolute;
    top: 0;
    height: 100%;
    width: 5px;
    background: #ff0000;
    transition: 0.3s all;
}

.timetable-indicator:hover {
    opacity: 0;
}

.timetable__navigation {
    display: inline-flex;
    flex-flow: row nowrap;
    padding: 0.5rem 1rem;
    border: 1px solid #dddddd;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.timetable__navigation button:hover, .timetable-navigation button:focus {
    color: inherit !important;
}

.timetable__loading-indicator {
    position: fixed;
    bottom: -10rem;
    right: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #dddddd;
    border-radius: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    background: #ffffff;
    z-index: 1000;
    transition: 0.3s all;
}

.timetable__loading-indicator.timetable__loading-indicator--active {
    bottom: 1rem;
}

.timetable-container {
    max-width: 1400px;
    padding: 0.5rem 1rem;
    border: 1px solid #dddddd;
    border-radius: 1rem;
    overflow-x: scroll;
}

.timetable-schedule {
    width: 1400px;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 1rem;
    position: relative;
}

.timetable-schedule--animation-next {
    animation: timetable-shift-right 0.3s ease-out;
}

.timetable-schedule--animation-previous {
    animation: timetable-shift-left 0.3s ease-out;
}

@keyframes timetable-shift-right {
    0% {
        transform: translateX(0px);
    }

    49% {
        opacity: 0;
        transform: translateX(-20px);
    }

    50% {
        opacity: 0;
        transform: translateX(20px);
    }

    51% {
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes timetable-shift-left {
    0% {
        transform: translateX(0px);
    }

    49% {
        opacity: 0;
        transform: translateX(20px);
    }

    50% {
        opacity: 0;
        transform: translateX(-20px);
    }

    51% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        transform: translateX(0);
    }
}

.timetable__current-week {
    min-width: 400px;
    text-align: center;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 900;
}

.timetable-row {
    min-height: 60px;
    border-top: 1px solid #d4d4d8;
    display: flex;
    padding: 0 0.75rem;
    flex-flow: row nowrap;
}

.timetable-row.timetable-row--today {
    background: #f4f4f5;
    box-shadow: -5px 0px 0px 0px #ef4444;
}

.timetable-row__indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 0;
    background: #e4e4e7;
}

.timetable-row__indicator--line {
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    z-index: 50;
    border-right: 3px solid #ef4444;
}


.timetable-row__header {
    width: 100px;
    padding: 0.5rem 0;
    font-weight: bold;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
}

.timetable-row__header--weekday {
    font-size: 1.5rem;
}

.timetable-row__header--date-day {
    color: #ef4444;
    font-family: monospace;
    margin-right: 0.3rem;
}

.timetable-row__lanes {
    flex-grow: 1;
    position: relative;
}

.timetable-row:first-child {
    border: none
}

.timetable-lane {
    position: relative;
    height: 120px;
    margin: 0.5rem;
}

.timetable-entry {
    position: absolute;
    height: 120px;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    transition: 0.3s all;
    user-select: none;
    z-index: 1;
}

.timetable-entry:hover, .timetable-entry:focus {
    cursor: pointer;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    z-index: 100;
}

.timetable-entry--lecture {
    background: #a7f3d0;
    border-color: #34d399;
}

.timetable-entry--seminar {
    background: #bae6fd;
    border-color: #38bdf8;
}

.timetable-entry--other {
    background: #fef9c3;
    border-color: #facc15;
}

.timetable-entry--has-events::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 0 0 0.25rem #a855f7;
}

.timetable-entry__events-indicator {
    position: absolute;
    right: 0rem;
    bottom: 0rem;
    width: 1.5rem;
    height: 1.5rem;
    color: white;
    font-weight: bold;
    font-family: "monospace";
    background: #a855f7;
    border-radius: 50% 0 25% 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.timetable-event {
    border-left: 5px solid #a855f7 !important;
}

.timetable-entry--has-events.timetable-entry--has-events-test::after {
    box-shadow: 0 0 0 0.25rem #ef4444;
}


.timetable-entry__events-indicator.events-indicator--test {
    background: #ef4444;
}

.timetable-event--test {
    border-left: 5px solid #ef4444 !important;
}

.timetable-entry--has-events.timetable-entry--has-events-homework::after {
    box-shadow: 0 0 0 0.25rem #3b82f6;
}


.timetable-entry__events-indicator.events-indicator--homework {
    background: #3b82f6;
}

.timetable-event--homework {
    border-left: 5px solid #3b82f6 !important;
}

.timetable-entry--has-events.timetable-entry--has-events-presentation::after {
    box-shadow: 0 0 0 0.25rem #1e293b;
}


.timetable-entry__events-indicator.events-indicator--presentation {
    background: #1e293b;
}

.timetable-event--presentation {
    border-left: 5px solid #1e293b !important;
}

.timetable-entry--skipped {
    opacity: 0.25;
}

.timetable-entry__container {
    padding: 0.5rem;
    height: calc(100% - 1rem);
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.timetable-entry__time {
    font-family: monospace;
}

.timetable-entry__course {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.timetable-entry__teacher,
.timetable-entry__room {
    color: black;
    text-decoration: none;
}

.timetable-entry__course:hover,
.timetable-entry__teacher:hover,
.timetable-entry__room:hover {
    text-decoration: underline 1px solid black;    
}

.timetable-entry__space {
    flex-grow: 1;
}

.timetable-entry__notes {
    font-weight: normal;
    position: absolute;
    right: 0.25rem;
    bottom: 0.1rem;
    font-size: 0.6rem;
    opacity: 0.7;
}

.timetable-overlay__info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.timetable-overlay__info-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 1rem !important;
    font-weight: bold;
    color: #71717a !important;
    margin-right: 2rem;
}

textarea.override-insis-textarea {
    background: #ffffff;
    box-shadow: none;
    width: calc(100% - 2rem);
}

.timetable-event {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.5rem 1rem;
    border: 1px solid #dddddd;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.timetable-event__text {
    display: flex;
    flex-flow: column nowrap;
}

.status {
    position: absolute;
    top: 2rem;
    right: 2rem;
    border: 1px solid #dddddd;
    background: #ffffff;
    border-radius: 0.5rem;
    display: flex;
    flex-flow: column nowrap;
    padding: 0.25rem;
    justify-content: center;
    align-items: center;
}

.status-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.status img {
    border-radius: 1rem;
    margin-right: 1rem;
}

.language-warning {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background: #fef9c3;
    padding: 0.5rem;
    z-index: 1000;
}